.todo-app-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 40%;
  background-color: #e4e4e4;
  border: 4px solid grey;
  border-radius: 1rem; }
  .todo-app-container__title {
    color: grey;
    height: 9.99%;
    vertical-align: middle; }

/*# sourceMappingURL=todoapp.css.map */
