.todo-create-form {
  width: 100%;
  height: 9.99%;
  border-top: 4px solid grey; }
  .todo-create-form__input {
    float: left;
    margin: 0;
    height: 100%;
    width: 79.99%; }
  .todo-create-form__button {
    float: right;
    height: 100%;
    width: 19.99%; }

.todo-create-input {
  position: relative;
  width: 90%;
  border: 3px solid grey;
  height: 40%;
  top: 50%;
  border-radius: .3rem;
  transform: translateY(-50%);
  vertical-align: middle; }

.todo-create-button {
  position: relative;
  top: 50%;
  height: 50%;
  width: 80%;
  background-color: #19c9ff;
  border-bottom: 3px solid #009ffc;
  border-right: 3px solid #009ffc;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  border-radius: .3rem;
  transform: translateY(-50%); }

.todo-create-button:hover {
  margin-top: 1px;
  margin-left: 3px; }

/*# sourceMappingURL=todoinput.css.map */
