.todo-single {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(221, 221, 221);
    border-bottom: 2px solid grey;
    overflow: hidden;

    &__text-display {
        display: inline-block;
        width: 80%;
        height: 100%;
       
    }
    &__buttons {
        display: inline-block;
        width: 9.99%;
        height: 100%;
        
    }
}
.button-action {
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    
}
.btn-edit {
    display: block;
    background-color: rgb(113, 187, 255);
    height: 70%;
}
.btn-delete {
    display: block;
    background-color: rgb(253, 138, 138);
    height: 70%;
}

