.todo-list {
  position: absolute;
  width: 100%;
  height: 64.99%;
  border-top: 4px solid grey;
  background-color: red; }
  .todo-list__todos {
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    list-style: none; }

/*# sourceMappingURL=todolist.css.map */
