.todo-single {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #dddddd;
  border-bottom: 2px solid grey;
  overflow: hidden; }
  .todo-single__text-display {
    display: inline-block;
    width: 80%;
    height: 100%; }
  .todo-single__buttons {
    display: inline-block;
    width: 9.99%;
    height: 100%; }

.button-action {
  display: inline-block;
  /* position: relative; */
  top: 50%;
  transform: translateY(-50%);
  width: 80%; }

.btn-edit {
  display: block;
  background-color: #71bbff;
  height: 70%; }

.btn-delete {
  display: block;
  background-color: #fd8a8a;
  height: 70%; }

/*# sourceMappingURL=todosingle.css.map */
