.todo-app-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 40%;
    background-color: rgb(228, 228, 228);
    border: 4px solid grey;
    border-radius: 1rem;

    &__title {
        color: grey;
        height: 9.99%;
        vertical-align: middle;
    }
    
}
