.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #61dafb; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.todo-create-form {
  width: 100%;
  height: 9.99%;
  border-top: 4px solid grey; }
  .todo-create-form__input {
    float: left;
    margin: 0;
    height: 100%;
    width: 79.99%; }
  .todo-create-form__button {
    float: right;
    height: 100%;
    width: 19.99%; }

.todo-create-input {
  position: relative;
  width: 90%;
  border: 3px solid grey;
  height: 40%;
  top: 50%;
  border-radius: .3rem;
  transform: translateY(-50%);
  vertical-align: middle; }

.todo-create-button {
  position: relative;
  top: 50%;
  height: 50%;
  width: 80%;
  background-color: #19c9ff;
  border-bottom: 3px solid #009ffc;
  border-right: 3px solid #009ffc;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  border-radius: .3rem;
  transform: translateY(-50%); }

.todo-create-button:hover {
  margin-top: 1px;
  margin-left: 3px; }

.todo-list {
  position: absolute;
  width: 100%;
  height: 64.99%;
  border-top: 4px solid grey;
  background-color: red; }
  .todo-list__todos {
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    list-style: none; }

.todo-single {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #dddddd;
  border-bottom: 2px solid grey;
  overflow: hidden; }
  .todo-single__text-display {
    display: inline-block;
    width: 80%;
    height: 100%; }
  .todo-single__buttons {
    display: inline-block;
    width: 9.99%;
    height: 100%; }

.button-action {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 80%; }

.btn-edit {
  display: block;
  background-color: #71bbff;
  height: 70%; }

.btn-delete {
  display: block;
  background-color: #fd8a8a;
  height: 70%; }

.todo-app-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 40%;
  background-color: #e4e4e4;
  border: 4px solid grey;
  border-radius: 1rem; }
  .todo-app-container__title {
    color: grey;
    height: 9.99%;
    vertical-align: middle; }

/*# sourceMappingURL=index.css.map */
